/*@font-face {
  src: url('fonts/Metropolis/Fonts/Webfonts/WOFF/Metropolis-Medium.woff') format("woff"),
       url('fonts/Metropolis/Fonts/Webfonts/WOFF/Metropolis-Bold.woff') format("woff"),
       url('fonts/Metropolis/Fonts/Webfonts/WOFF/Metropolis-Thin.woff') format("woff");
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: bold;
}*/

@font-face {
  src: url('fonts/RoslindaleVariable-VF[DisplayCondensed]-Testing.woff2') format("woff2"),
       url('fonts/RoslindaleVariable-VF[DisplayCondensed]-Testing.woff') format("woff");
  font-family: 'Roslindale Variable';
  font-style: normal;
  font-weight: bold;
}

font-face {
  src: url('fonts/Roslindale-DisplayCondensedRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedRegular-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

:root{
    --theme-red: rgb(169 38 49);
    --theme-blue: rgb(23 60 79);
    --theme-beige: rgb(247 240 233);
    --header-font: "Roslindale Variable", "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    --theme-sans-serif:  "Open Sans", "Arial Unicode MS Bold", "Helvetica", sans-serif;
}

html{
  box-sizing: border-box;
}

body { 
  font-family: var(--header-font);
  margin: 0; 
  padding: 0; 
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

.mapbox-improve-map {
  display: none;
}


.continent-toggle-container {
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0px;
    background: rgb(249 249 249 / 74%);
    backdrop-filter: blur(4px);
    border-radius: 100px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    height: max-content;  
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
}

.top-bar *, .title-container *{
  pointer-events: auto;
}

.continent-toggle {
  color: rgb(0 0 0 / 40%);
  cursor: pointer;
  margin: 0;
}

.continent-toggle:hover {
  color: rgb(169 38 49 / 80%);
}

.continent-toggle#united-states {
    padding: .5em .75em .5em 1em;
}
.continent-toggle#europe {
    padding: .5em 1em .5em .75em;
}

.continent-toggle.active {
  color: var(--theme-red);
  background: white;
}

header {
  pointer-events: none;
  padding: 1em;
  position: absolute;
  z-index: 10000;
}

.main {
  z-index: 100;
  position: absolute;
  right: 0;
  bottom: 0;
/*  box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);*/
  width: 50%;
  height: 100vh;
  pointer-events: none;
}

.content-container{
  box-sizing: border-box;
  position: relative;
/*  border: solid black 2px;*/
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
}

.content-container.popup-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.content-container .popup{
  pointer-events: auto !important;
  z-index: 1000;
  width: 100%;
  max-width: 450px;
  background: rgb(249 249 249 / 74%);
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
  backdrop-filter: blur(4px);
}

.popup{
  font-family: var(--theme-sans-serif);
  padding: 1em;

}

.title-container{
  position: relative;
  display: inline-flex;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.title{
  display: inline-block;
  margin: 0;
}

.about-this-project-container{
  display: inline-block;
  position: relative;
  height: 100%;
  width: auto;
}

.about-this-project {
  width:25px;
  height: 25px;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  overflow: hidden;
  background-color: var(--theme-blue);
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
}

h1 {
  line-height: 1;
  margin-bottom: 0.3em; 
  font-family: var(--header-font);
  font-size: clamp(40px, 6vmin, 60px);
  color: var(--theme-blue);
}

h3 {
  line-height: 1;
  font-family: var(--header-font);
  font-size: clamp(20px, 2.7vmin, 24px);
}





/*****************************/
/*********** POPUP ***********/

.mapboxgl-popup-content {
  position: relative;
  min-width: 100px;
  width: auto;
  max-width: 200px;
  border-radius: 3px;
  padding: 4px;
  pointer-events: auto;
}

.mapboxgl-popup-content, .mapboxgl-popup-content.mapboxgl-popup-tip {
  background: rgb(249 249 249 / 74%);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
}

.feature p {
  font-family: var(--theme-sans-serif);
  font-weight: 600;
  margin: 0;
}





/*************************************/
/*********** MEDIA QUERIES ***********/

@media only screen and (max-width: 650px) {

  h1 {
    font-size: 28px;
  }

  h3{
    font-size: 18px;
  }

  .title-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .main {
    z-index: 100;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40vh;
    pointer-events: none;
  }

  .content-container {
    padding: 0;
  }

  .content-container .popup {
    overflow: scroll;
  }

  .geocoder {
    display: none;
  }
}
